li {
    &:active {
        transform: translateY(5px);
    }
}

.transicion {
    
    transition: all 500ms;
}
.transicion:hover {
    border-radius: 30px;
    background-color: #d3d3d3;
}
.transicion img:hover{
    transition: .2s;
    transform: scale(1.175);
}

.fadeAnim {
    animation-name: fade;
    animation-iteration-count: 1;
    animation-duration: 3s;
}
    
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

.voltearLogo {
    animation-name: voltear;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}
    
@keyframes voltear {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.gradientAnim {
    background-size: 400% 400%;
	animation: gradientAnim 15s ease infinite;
}

@keyframes gradientAnim {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}