body {
    width: $anchoTotal;
    height: 100vh;
}
header {
    width: $anchoTotal;
}
section {
    width: $anchoTotal;
}
main {
    width: $anchoTotal;
}
article {
    width: $anchoTotal; 
}
footer {
    width: $anchoTotal;
}