body {
    -webkit-font-smoothing: antialiased;
    width: $anchoTotal;
    height: 100vh;
}
header {
    width: $anchoTotal;
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
}
li {
    &:active {
        transform: translateY(5px);
    }
}
section {
    width: $anchoTotal;
}
main {
    width: $anchoTotal;
}
article {
    width: $anchoTotal; 
}
footer {
    width: $anchoTotal;
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
}

.logo {
    width: 10vw;
    min-width: 70px;
    max-width: 100px;
    height: auto;
}
.logoFooter {
    width: 10vw;
    min-width: 15px;
    max-width: 40px;
    height: auto;
}
.imgCatalogo {
    img {
        width: 55%;
        min-width: 50px;
        max-width: 175px;
        min-height: 50px;
        max-height: 175px;
    }
}